<%= simple_form_for @seminar, url: admin_seminar_path(@seminar) do |f| %>

  <div class="form-group">
    <%= f.input :name , input_html:{class: "form-control"} %>
    <br>
    <%= f.input :date  %>
    <br>
    <%= f.input :location, input_html:{ class: "form-control"} %>
    <br>
    <%= f.input :category, input_html:{ class: "form-control"} %>
    <br>
    <% if @photo.image.present? %>
        <span>目前圖片</span><br>
        <%= image_tag(@photo.image.thumb.url) %>
    <% end %>
    <br>
    <%= f.simple_fields_for :seminarphoto do |c| %>
        <%= c.input :image, as: :file %>
    <% end %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submitting....."} %>
<% end %>
