<%= simple_form_for @seminar, url: admin_seminars_path do |f| %>

  <div class="form-group">
    <%= f.input :name , input_html:{class: "form-control"} %>
    <br>日期：<br><br>
    <%= f.input :date  %>
    <br><br>
    <%= f.input :location, input_html:{ class: "form-control"} %>
    <br>
    <%= f.input :category, input_html:{ class: "form-control"} %>
    <br>
    <%= f.simple_fields_for :seminarphoto do |c| %>
        <%= c.input :image, as: :file %>
    <% end %>
    <br>

    <%= f.collection_select( :organization_id, Organization.all, :id, :name, prompt: true) %>

  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: {disable_with: "Submitting....."} %>
<% end %>
