<div class="row">

  <div class="col-md-12">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>協會名稱</th>
              <th>Creator</th>
              <th>Photo</th>
            </tr>
          </thead>
          <tbody>
          <% @organizations.each do |organization| %>
            <tr>
              <td><%= link_to organization.name, admin_organization_path(organization) %></td>
              <td><%= organization.user.email %></td>
              <% if organization.organizationphoto.present? %>
                  <td><%= image_tag(organization.organizationphoto.image.thumb.url, class:"thumbnail") %></td>
              <% else %>
                  <td><%= image_tag("htpp://placehold.it/200x200&text=No Pic", class: "thumbnail") %></td>
              <% end %>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>

</div>
<div class="text-center">
<%= link_to("Create", new_admin_organization_path, class: "btn btn-primary") %>
</div>
