<h2> <%= @organization.name %></h2>
<span class="pull-right">
  <%= link_to("開啟報名研討會活動",new_admin_seminar_path, class: "btn btn-default pull-right") %>
</span>
<div class="group">
    <table class="table">
      <thead>
        <tr>
          <th>協會照片</th>
          <th>協會地址</th>
          <th>協會分類</th>
          <th>協會成立時間</th>
        </tr>
      </thead>
      <tbody>
            <tr>
              <td>
                <% if @photo.present? %>
                    <%= image_tag(@photo.image.thumb.url, class:"thumbnail") %>
                <% else %>
                    <%= image_tag("htpp://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              </td>
              <td><%= @organization.location %></td>
              <td><%= @organization.category %></td>
              <td><%= @organization.date %></td>
              <td><%= link_to("Edit",edit_admin_organization_path(@organization)) %></td>
            </tr>

      </tbody>
    </table>
</div>
<br><br><br>
<div class="group">
    <table class="table">
      <thead>
        <tr>
          <th>Seminar Name</th>
          <th>發起人</th>
          <th>研討會日期</th>
          <th>報名狀況</th>
        </tr>
      </thead>
      <tbody>
        <% @seminars.each do |seminar| %>
            <tr>
              <td><%= seminar.name %></td>
              <td><%= seminar.user.name %></td>
              <td><%= seminar.date %></td>
              <td><%= "報名狀況" %></td>
              <td><%= link_to("Edit",edit_admin_seminar_path(seminar)) %></td> </tr>
        <% end %>
      </tbody>
    </table>
</div>
