<h2> <%= @organization.name %></h2>
<div class="group">
    <table class="table">
      <thead>
        <tr>
          <th>協會照片</th>
          <th>協會地址</th>
          <th>協會分類</th>
          <th>協會成立時間</th>
        </tr>
      </thead>
      <tbody>
            <tr>
              <td>
                <% if @photo.present? %>
                    <%= image_tag(@photo.image.thumb.url, class:"thumbnail") %>
                <% else %>
                    <%= image_tag("htpp://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              </td>
              <td><%= @organization.location %></td>
              <td><%= @organization.category %></td>
              <td><%= @organization.date %></td>
              <td><%= link_to("Edit",edit_seminar_path) %></td>
            </tr>

      </tbody>
    </table>
</div>
