<h2> <%= @seminar.name %></h2>
<% if current_user %>
<span class="pull-right">
  <%= link_to("開啟報名研討會活動",new_seminar_conference_path(@seminar), class: "btn btn-default pull-right") %>

  <% if current_user && current_user.is_member_of?(@seminar) %>
      <label class="label label-success">Is in this attendee</label>
      <%= link_to("Quit this aciton", quit_seminar_path(@seminar), method: :post, class: "btn btn-default") %>
  <% else %>
      <label class="label label-warning">Not in this attendee</label>
      <%= link_to("Join this action", join_seminar_path(@seminar), method: :post, class: "btn btn-default") %>
  <% end %>
</span>
<% end %>
<div class="group">
    <table class="table">
      <thead>
        <tr>
          <th>研討會照片</th>
          <th>研討會地址</th>
          <th>研討會分類</th>
          <th>研討會成立時間</th>
        </tr>
      </thead>
      <tbody>
            <tr>
              <td>
                <% if @photo.present? %>
                    <%= image_tag(@photo.image.thumb.url, class:"thumbnail") %>
                <% else %>
                    <%= image_tag("htpp://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
                <% end %>
              </td>
              <td><%= @seminar.location %></td>
              <td><%= @seminar.category %></td>
              <td><%= @seminar.date %></td>
              <td><%= link_to("Edit",edit_seminar_path) %></td>
            </tr>

      </tbody>
    </table>
</div>
<br><br><br>
<div class="group">
  <table class="table">
  <thead>
    <tr>
      <th>Conference Name</th>
      <th>創建者</th>
      <th>研討會日期</th>
      <th>報名狀況</th>
    </tr>
  </thead>
  <tbody>
    <% @conferences.each do |conference| %>
      <tr>
        <td><%= link_to conference.name, seminar_conference_path(@seminar,conference) %></td>
        <td><%= conference.user.name %></td>
        <td><%= conference.date %></td>
        <td>#</td>
        <td><%= link_to "Edit",edit_seminar_conference_path(@seminar,conference) %></td>
        <td><%= link_to "Delete", seminar_conference_path(@seminar,conference),method: :delete, data:{confirm: "Are U sure????"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="text-left">
    <%= link_to("Back to index", seminars_path ) %>
</div>
