<h2> <%= @seminar.name %></h2>
<%= link_to("填寫報名",new_seminar_attendee_path(@seminar), class: "btn btn-default pull-right") %>
<div class="group">
    <table class="table">
      <thead>
        <tr>
          <th>研討會地點</th>
          <th>研討會分類</th>
          <th>研討會時間</th>
          <th>Edit</th>
        </tr>
      </thead>
      <tbody>
            <tr>
              <td><%= @seminar.location %></td>
              <td><%= @seminar.category %></td>
              <td><%= @seminar.date %></td>
              <td><%= link_to("Edit",edit_seminar_path) %></td>
            </tr>

      </tbody>
    </table>
</div>
<div class="group">
  <table class="table">
  <thead>
    <tr>
      <th>報名者</th>
      <th>User Name</th>
    </tr>
  </thead>
  <tbody>
    <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.name %></td>
        <td><%= attendee.user.name %></td>
        <td><%= link_to "Edit",edit_seminar_attendee_path(@seminar,attendee) %></td>
        <td><%= link_to "Delete", seminar_attendee_path(@seminar,attendee),method: :delete, data:{confirm: "Are U sure????"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

    <div class="text-left">
    <%= link_to("Back to index", seminars_path ) %>
  </div>
