<h2>使用者列表</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>Email</th>
      <th>權限</th>
      <th>功能</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.id %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td>
            <%= user.roles.first.name %>

          </td>
          <td>
            <%= link_to("升級管理者", to_admin_admin_user_path(user), method: :post, class: "btn btn-info") %>
            <%= link_to("降為使用者", to_user_admin_user_path(user), method: :post, class: "btn btn-primary") %>

          </td>
        </tr>
    <% end %>
  </tbody>
</table>
